.panels-flexible-region {
  padding: 0;
}

.panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-column {
  padding: 0;
}

.panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-30-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-30-inside {
  padding-right: 0px;
}

.panels-flexible-30 {
  width: auto;
}

.panels-flexible-region-30-header_menu {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-30-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-30-header {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-30-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-30-content {
  float: left;
  width: 74.1598%;
}

.panels-flexible-region-30-sidebar_right {
  float: left;
  width: 24.8402%;
}

.panels-flexible-row-30-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-30-pre_footer {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-30-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-30-footer {
  float: left;
  width: 24.7643%;
}

.panels-flexible-region-30-footer_2 {
  float: left;
  width: 24.7571%;
}

.panels-flexible-region-30-footer_3 {
  float: left;
  width: 24.8225%;
}

.panels-flexible-region-30-footer_4 {
  float: left;
  width: 24.6561%;
}

.panels-flexible-row-30-4-inside {
  padding-right: 0px;
}

