/*******************************************************************************
 * _layout.scss
 *
 * The layout of the major regions (usually, but not necessarily Drupal regions)
 * that components will be placed within. Layout styles for the theme's
 * components should not be placed here and should instead be kept with the
 * relevant SCSS for that component.
 ******************************************************************************/

.panels-flexible-row-first,
.panels-flexible-row.sliding-right-nav-row > .inside,
.main-content {
  @include aap_body_measurements;
}

.panels-flexible-row.main-menu-row {
  padding : 0;
  background-color: $green;
  width: 100%;
}

.panels-flexible-row.sliding-right-nav-row {
  background: url('../images/bg_flag.jpg') no-repeat center;
}

.front {
  margin : 0;
}


 .aap-main-content {
    .pane-title {
      @include aap_content_title;
    }
    
    .view-content .views-row {
      margin-bottom: 10px;
      padding-left: 25px;
      background: url(/sites/all/themes/aap_campaign_themes/hapoos/images/arrow_bullet.png) no-repeat left 4px;
    }
 }
 
 .aap-main-content.latest-news-class {
         .pane-content {
       background: url('../images/news_image.png') no-repeat;
       padding-top: 15em;
    }
  }
    
 
 .header-menu {
 
    .pane-content {
        @include aap_body_measurements;
      }
      
    .sf-menu.sf-style-default a {
      color: $white;
      background: none;
      @include aap_font_style;
      border-left: none;
      border-top: none;
      margin: 0.4em 0.4em 0.4em 0.4em;
    }
    
    .sf-menu.sf-style-default
    .aap-home-class {
      background: url('../images/home.png') no-repeat scroll 0 center;
      text-indent: -15000px;
      padding-right: 3em;
    }
    .sf-menu.sf-style-default
    .donate-link-class {
        text-align: center;
          color: #F17E00;
        background: white;
        border-radius: 5px;
        margin-left: 2em;
    }
  }  
 
 .header-menu
 .sf-menu.sf-style-default {
 
  li {
    background: url(../images/main_menu_border.png)  no-repeat right;
    text-align: center;
   }
  .last {
    background : none;
  }  
 }
 
 .header-menu
 .sf-menu.sf-style-default {
    margin-bottom: 0;
 }
 
 .aap-footer-class {
    background: $green;
      .pane-title {
          color: white;
          font-family: $font-family;
          font-size: large;
          padding-left: 13%;
          }
       
       .pane-content a{
          color: white;
          font-family: $font-family;
          font-size: small;
          text-decoration: none;
         }
        
        .pane-content li {
            list-style : none;
         }    
    }
    
 .footer-bottom {
    min-height: 75px;
    background: $footer;
    width: 100%;
 }
 
 .right-navigation-class {
      width : 100%;
       
       .pane-content li {
          list-style: none;
          line-height: 2.5em;
          padding-bottom: 0.2em;
      }
      .pane-content a {
          
      }
      .pane-content {
              .video-gallery-class {
                   background: url('../images/right_nav.png') no-repeat scroll 0% 1% $nav_blue;
             }
             
              .image-gallery-class {
                   background: url('../images/right_nav.png') no-repeat scroll 0% 18% $nav_blue;
             }
             
             .aap-media-class  {
                   background: url('../images/right_nav.png') no-repeat scroll 0% 34% $nav_blue;
             }
              .forum-class {
                   background: url('../images/right_nav.png') no-repeat scroll 0 50% $nav_blue;
             }
              .live-tv-class {
                   background: url('../images/right_nav.png') no-repeat scroll 0 67% $nav_blue;
             }
              .join-us-class {
                   background: url('../images/right_nav.png') no-repeat scroll 0 83% $nav_blue;
             } 
              .publicity-material-class {
                   background: url('../images/right_nav.png') no-repeat scroll 0 99% $nav_blue;
             }
         }    
      a {
         padding-left: 5.2em;
          display: block;
          border-radius: 0.3em;
          @include aap_font_style;
      }
  }              

  .sliding-region-class,
  .right-navigation-class {
      margin-top : 3em;
    }  
    
  .aap-footer-class {
    width : 100%;
  }  